html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 * card flip css from https://3dtransforms.desandro.com/card-flip
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 660px;
}

.deck .card {
    height: 125px;
    width: 125px;
    cursor: pointer;
    display: flex;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.card_face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card_face-front {
  background: #2e3d49;
  border-radius: 8px;
  transform: rotateY( 180deg );
}

.card_face-back {
  background: #02b3e4;
  transform: rotateY(0deg);
  cursor: default;
  font-size: 33px;
  color: #ffffff;
  line-height: 125px;
  text-align: center;
  border-radius: 8px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.not-match {
  cursor: default;
  background: #ff6961;
  font-size: 33px;
}

/*
 * shake from https://www.w3schools.com/howto/howto_css_shake_image.asp
 */

 .card.shake_div {
   animation: shake 0.5s;
 }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card.scale_div {
  animation: scale 0.5s;
}

@keyframes scale {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
  margin-left: 10px;
}

/*
 * Styles for the Win Game Panel
 */
 .win-game-panel {
     position: absolute;
     width: 250px;
     height: 250px;
     background: white;
     text-align: center;
     justify-content: center;
     align-items: center;
     top: 328px;
     border-radius: 8px;
 }

 .win-game-panel .stars li {
   text-align: center;
     list-style: none;
 }

 .win-game-panel .button {
    background-color: #aa7ecd;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

 .win-game-panel .button:hover {
    background-color: #02ccba;
}
